

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.path-hint {
    font-size: smaller;
    opacity: .5;
    margin-left: 1em;
    
    &:before {
        content: '(';
    }
    &:after {
        content: ')';
    }
}

#navigationHistory > * {
    display: block;
    margin: 4px 8px;
}

.fish {
    font-size: 120px;
    display: block;
    text-align: center;
    filter: grayscale(100%);
    transform: scaleX(-1);
    
    &.fish-red {
        color: red;
        filter: hue-rotate(160deg);
    }
    &.fish-blue {
        color: blue;
        filter: none;
    }
}
