
$fa-font-path: "~font-awesome/fonts";

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.path-hint {
    font-size: smaller;
    opacity: .5;
    margin-left: 1em;
    
    &:before {
        content: '(';
    }
    &:after {
        content: ')';
    }
}

#navigationHistory > * {
    display: block;
    margin: 4px 8px;
}

.fish {
    font-size: 120px;
    text-align: center;
    background: rgb(120, 120, 255);
    margin-top: 40px;
    padding: 80px 0;
    position: relative;
    color: white;
    
    &:after {
        content: '🐟';
        display: block;
        transform: scaleX(-1);
        filter: saturate(3) hue-rotate(-120deg);
    }
    
    &.fish-two:after {
        content: '🐟🐟';
        filter: hue-rotate(-60deg);
    }
    &.fish-red:after {
        filter: hue-rotate(160deg);
    }
    &.fish-blue:after {
        filter: none;
    }
    &.fish-dead {
        & > * {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            margin-top: -.5em;
        }
        &:after {
            filter: grayscale(100%);
            transform: translateX(300px) translateY(-320px) rotate(150deg);
            position: absolute;
        }
        &:before {
            content: "*And it's not because I forgot to feed them.";
            color: white;
            font-size: 18px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 80px;
        }
    }
}
