<style>
    
</style>

<div class="computer-animation-wrapper capstone-spa" onclick="navigateTo('/')">
    <h1>My Capstone Project Page Downloads</h1>
    <span class="request" style="animation-delay: .00s; animation-iteration-count: 5;">?</span>
    <span class="request" style="animation-delay: .25s; animation-iteration-count: 3;">?</span>
    <span class="request" style="animation-delay: .50s; animation-iteration-count: 4;">?</span>
    <span class="request" style="animation-delay: .75s; animation-iteration-count: 3;">?</span>
    <span class="request" style="animation-delay: 1.0s; animation-iteration-count: 2;">?</span>
    <span class="request" style="animation-delay: 1.25s; animation-iteration-count: 1;">?</span>
    <span class="response" style="animation-delay: .00s; animation-iteration-count: 5;"><i class="fa fa-file-text"></i></span>
    <span class="response" style="animation-delay: .25s; animation-iteration-count: 3;"><i class="fa fa-file-text"></i></span>
    <span class="response" style="animation-delay: .50s; animation-iteration-count: 4;"><i class="fa fa-file-text"></i></span>
    <span class="response" style="animation-delay: .75s; animation-iteration-count: 3;"><i class="fa fa-file-text"></i></span>
    <span class="response" style="animation-delay: 1.0s; animation-iteration-count: 2;"><i class="fa fa-file-text"></i></span>
    <span class="response" style="animation-delay: 1.25s; animation-iteration-count: 1;"><i class="fa fa-file-text"></i></span>
    <img class="computer-left" src="/problem-definition/computer-left.png" />
    <img class="computer-right" src="/problem-definition/computer-right.png" />
</div>
