<style>
    
</style>

<div class="computer-animation-wrapper capstone-spa" onclick="navigateTo('/problem-definition/technologies')">
    <h1>My Capstone Project Page Downloads</h1>
    <span class="request" style="animation-delay: .00s; animation-iteration-count: 1;">?</span>
    <span class="response" style="animation-delay: .00s; animation-iteration-count: 1;"><i class="fa fa-file-text"></i></span>
    
    <span class="request" style="animation-delay: 4.25s; animation-iteration-count: 1;">?</span>
    <span class="request" style="animation-delay: 4.50s; animation-iteration-count: 1;">?</span>
    <span class="request" style="animation-delay: 4.75s; animation-iteration-count: 1;">?</span>
    <span class="request" style="animation-delay: 5.0s; animation-iteration-count: 1;">?</span>
    <span class="request" style="animation-delay: 5.25s; animation-iteration-count: 1;">?</span>
    <span class="response" style="animation-delay: 4.25s; animation-iteration-count: 1;"><i class="fa fa-file-text"></i></span>
    <span class="response" style="animation-delay: 4.50s; animation-iteration-count: 1;"><i class="fa fa-file-text"></i></span>
    <span class="response" style="animation-delay: 4.75s; animation-iteration-count: 1;"><i class="fa fa-file-text"></i></span>
    <span class="response" style="animation-delay: 5.0s; animation-iteration-count: 1;"><i class="fa fa-file-text"></i></span>
    <span class="response" style="animation-delay: 5.25s; animation-iteration-count: 1;"><i class="fa fa-file-text"></i></span>
    
    <img class="computer-left" src="/problem-definition/computer-left.png" />
    <img class="computer-right" src="/problem-definition/computer-right.png" />
    <div class="computer-right-screen-container">
        <div class="computer-right-screen">
            <i class="loading-symbol fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</div>
