<style>
    
</style>

<div class="computer-animation-wrapper spa" onclick="navigateTo('/problem-definition/capstone')">
    <h1>Single-Page Application Page Downloads</h1>
    <span class="request">?</span>
    <span class="response"><i class="fa fa-book"></i></span>
    <img class="computer-left" src="/problem-definition/computer-left.png" />
    <img class="computer-right" src="/problem-definition/computer-right.png" />
    <div class="computer-right-screen-container">
        <div class="computer-right-screen">
            <i class="loading-symbol fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</div>
