<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4">Technologies Used</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2 class="technology-list-header">Dependency Loader &amp; SPA Router</h2>
            <ul class="technology-list">
                <li>
                    <a target="_blank" href="https://www.typescriptlang.org/">Typescript</a>
                    <a target="_blank" href="https://www.typescriptlang.org/"><img src="/logos/typescript.svg" /></a>
                </li>
                <li>
                    <a target="_blank" href="https://webpack.js.org/">Webpack</a>
                    <a target="_blank" href="https://webpack.js.org/"><img src="/logos/webpack.svg" style="background: #2b3a42;" /></a>
                </li>
                <li>
                    <a target="_blank" href="http://reactivex.io/rxjs/">RxJS</a>
                    <a target="_blank" href="http://reactivex.io/rxjs/"><img src="/logos/rxjs.png" /></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.npmjs.com/">Node Package Manager</a>
                    <a target="_blank" href="https://www.npmjs.com/"><img src="/logos/npm.png" style="background: #235c7c;" /></a>
                </li>
                <li>
                    <a target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
                    <a target="_blank" href="https://getbootstrap.com/"><img src="/logos/bootstrap.png" /></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.w3.org/TR/html5/"><span>HTML5</span></a>
                    <a target="_blank" href="https://www.w3.org/TR/html5/"><img src="/logos/html5.png" /></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.w3.org/Style/CSS/specs.en.html">CSS3</a>
                    <a target="_blank" href="https://www.w3.org/Style/CSS/specs.en.html"><img src="/logos/css3.png" /></a>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2 class="technology-list-header">Unit and Integration Tests</h2>
            <ul class="technology-list">
                <li>
                    <a target="_blank" href="https://karma-runner.github.io/1.0/index.html">KarmaJS</a>
                    <a target="_blank" href="https://karma-runner.github.io/1.0/index.html"><img src="/logos/karma.png" /></a>
                </li>
                <li>
                    <a target="_blank" href="https://mochajs.org/">MochaJS</a>
                    <a target="_blank" href="https://mochajs.org/"><img src="/logos/mocha.svg" /></a>
                </li>
                <li>
                    <a target="_blank" href="http://nightwatchjs.org/">NightwatchJS</a>
                    <a target="_blank" href="http://nightwatchjs.org/"><img src="/logos/nightwatch.png" style="background: black;" /></a>
                </li>
                <li>
                    <a target="_blank" href="https://nodejs.org/en/">NodeJS</a>
                    <a target="_blank" href="https://nodejs.org/en/"><img src="/logos/nodejs.svg" style="background: #333333;" /></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html?brand=CHBD">Headless Chrome</a>
                    <a target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html?brand=CHBD"><img src="/logos/chrome.png" /></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.mozilla.org/en-US/firefox/">Headless Firefox</a>
                    <a target="_blank" href="https://www.mozilla.org/en-US/firefox/"><img src="/logos/firefox.png" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>
