<h2>Table of Contents</h2>
<nav>
    <ul>
        <li><a href="/">Home</a><span class="path-hint">/</span></li>
        <li>
            Meat
            <ul>
                <li><a href="/meat/beef">Beef</a><span class="path-hint">/meat/beef</span></li>
                <li><a href="/meat/pork">Pork</a><span class="path-hint">/meat/pork</span></li>
                <li><a href="/meat/chicken">Chicken</a><span class="path-hint">/meat/chicken</span></li>
                <li><a href="/meat/unicorn">Unicorn (Nonexistant)</a><span class="path-hint">/meat/**</span></li>
            </ul>
        </li>
        <li>
            Fish
            <ul>
                <li><a href="/fish/one">One Fish</a><span class="path-hint">/fish/one</span></li>
                <li><a href="/fish/two">Two Fish</a><span class="path-hint">/fish/two</span></li>
                <li><a href="/fish/red">Red Fish</a><span class="path-hint">/fish/red</span></li>
                <li><a href="/fish/blue">Blue Fish</a><span class="path-hint">/fish/blue</span></li>
                <li><a href="/fish/fishy">Fishy Fish (Nonexistant)</a><span class="path-hint">/fish/**</span></li>
            </ul>
        </li>
        <li><a href="/hooked-on-phonics">Page Not Found</a><span class="path-hint">/**</span></li>
    </ul>
</nav>

<h2 class="mt-4">Navigation Result</h2>
<router-outlet></router-outlet>
