<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            Meat
            <ul>
                <li><a href="/meat/beef">Beef</a></li>
                <li><a href="/meat/pork">Pork</a></li>
                <li><a href="/meat/chicken">Chicken</a></li>
                <li><a href="/meat/unicorn">Unicorn (Nonexistant)</a></li>
            </ul>
        </li>
        <li>
            Fish
            <ul>
                <li><a href="/fish/one">One Fish</a></li>
                <li><a href="/fish/two">Two Fish</a></li>
                <li><a href="/fish/red">Red Fish</a></li>
                <li><a href="/fish/blue">Blue Fish</a></li>
                <li><a href="/fish/fishy">Fishy Fish (Nonexistant)</a></li>
            </ul>
        </li>
        <li><a href="/hooked-on-phonics">Page Not Found</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
