<div class="row mt-4">
    <div class="col-12">
        <h1>Asynchronous Dependency Loader</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <img src="/thumbnails/dependency-loader-visualizer-2.png" class="demo-thumbnail" />
    </div>
    <div class="col-md-8">
        <h2><a href="http://localhost:8087" target="_blank">Dependency Loader Visualizer</a></h2>
        <p>
            A helpful tool to visualize dependency trees.
            I created it to verify that the dependency loader was working as intended.
            It also serves as a tool to validate dependency schemas.
        </p>
        <h4><a href="http://localhost:8083" target="_blank">Original Visualizer</a></h4>
        <p>
            The original version of the above tool. Displayed in table format, not as easy to understand.
        </p>
    </div>
</div>

<div class="row mt-4 mt-4">
    <div class="col-12">
        <h2>Older Resources</h2>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <h4><a href="http://localhost:8081" target="_blank">Script-Loading Spike</a></h4>
        <p>
            This is the proof-of-concept project that I created initially before starting actual development.
        </p>
    </div>
</div>
