<div class="row">
    <div class="col-12">
        <h1 class="mt-2">Asynchronous Dependency Loader</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2><a href="http://localhost:8081" target="_blank">Script-Loading Spike</a></h2>
        <p>
            This is the proof-of-concept project that I created initially before starting actual development.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2><a href="http://localhost:8083" target="_blank">Dependency Loader Visualizer</a></h2>
        <p>
            A helpful tool to visualize dependency trees.
            I created it to verify that the dependency loader was working as intended.
            It also serves as a tool to validate dependency schemas.
        </p>
    </div>
</div>
