<div class="row">
    <div class="col-12">
        <h1 class="mt-2">Single-Page Application Router</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2><a href="http://localhost:8082" target="_blank">Ugly Development Spike</a></h2>
        <p>
            This is the proof-of-concept project that I created initially before starting actual development.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2><a href="http://localhost:8084" target="_blank">Simple Demo Application</a></h2>
        <p>
            A simple web-application with a few static pages.
            Includes nested routes.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2><a href="http://localhost:8085" target="_blank">Programmatic Navigation (With 404)</a></h2>
        <p>
            A test bed created to showcase programmatic page navigation,
            including routing to a catchall route when a page is not found.
        </p>
    </div>
</div>
